* {
  box-sizing: border-box;
}

#root {
  text-align: center;
}

.container {
  border: 1px solid;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron {
  margin-top: 2vh;
}

.input-field {
  max-width: 85%;
  margin: 0 auto 4vh auto;
}

.todoitem {
  max-width: 75%;
  margin: 10px auto;
}

.clickable {
  cursor: pointer;
}